$sm: "767px";
$md: "992px";

.incidentCardsContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  @media screen and (min-width: $sm) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: $md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.homepageHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
